#primary-color{
    color:#88bdbc;
}

#secondary-color{
    color:#245e58;
}

#third-color{
    color:#112d32;
}

#fourth.color{
    color:#4f4a41;

}

#fifth.color{
    color:#6e6658;

}
